/*Fonts*/
@font-face
{
	font-family: 'Adam';
	src: url('../fonts/Adam.otf');
}

@font-face
{
	font-family: 'geosans';
	src: url('../fonts/GeosansLight.ttf');
}
/*Placeholder Color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}
/*All Pages*/
body
{ 
	font-family					:Arial, Helvetica, sans-serif; 
	margin						:0;
	padding						:none;
	background-attachment		:fixed;
	/* background-image			:black; */
	background-repeat			:repeat;
	display				:flex;
	flex-direction: column;
}

#top-nav
{
	width				:100%;
	height				:90px;
	background-color	:rgba(7,7,7, 0.2);
	margin-top			:0px;
	margin-left			:0px;
	border-bottom		:solid 2px rgba(7,7,7, 0.3);
	background-color	:rgba(7,7,7, 0.5);
	display				:flex;
	justify-content: center;
	align-items: center;
}

#title
{
	margin: auto;
}

#title a
{
	text-align: center;
	font-family: "Adam";
	font-size: 80px;
	color: dodgerblue;
	text-decoration: none;
	line-height: 80px;
	cursor: default;
}

.frm
{
	display						: block;
	margin-top					: 10%; 
	margin-left					: auto;
	margin-right				: auto;
	width						: 200px;
	box-shadow					: 5px 5px 5px 5px rgba(0,0,0, 0.5);
	background-color			: rgba(7,7,7, 0.2);
	filter						: alpha(opacity=50);
	border-radius				: 20px;
	border						: solid 0.5px rgba(7,7,7, 0.3);
	padding						: 2%;
}

.inp
{
	border-radius				: 12px;
	margin						: auto;
	border						: none;
	border-bottom				: 2px black solid;
	background-color			: rgba(255,255,255, 0.6);
	width						: 200px; 
	font-size					: 16px;
	font-family					: "geosans";
	padding						: 10px;
}

.inp:focus
{
	outline: none;
	border-bottom: 2px #D12E7D solid;
	border-right: 2px #D12E7D solid;
}

.notice
{
	display:block;
	margin: auto;
	height: 20px;
	font-size: 18px;
	text-align: center;
	font-family: "geosans";
	color: #D12E7D;
}

input[placeholder]
{
	text-align					: center;
}

#login:hover, #register:hover, #reset:hover, #ulbuts1:hover, #ulbuts2:hover, #snap:hover, #upload:hover
{
	color				: dodgerblue;
	background-color	: rgba(7,7,7, 0.4);
}

.allButs
{
	width: 124px;
	height: 25px;
	font-size: 18px;
	border-radius: 8px;
	text-align: center;
	font-family: "geosans";
	background-color: rgba(255,255,255, 0.6);
	border: solid 0.5px rgba(7,7,7, 1);
	outline:none;
}

/*index.php*/
#signin
{
	height: 280px;
}

#ulbuts1, #ulbuts2
{
	margin-top: 10px;
	list-style: none;
	text-decoration: none;
}

#ulbuts1 a, #ulbuts2 a
{
	text-decoration: none;
	color: black;
	cursor: default;
}

#ulbuts1 a:hover, #ulbuts2 a:hover
{
	color: dodgerblue;
}

#login
{
	margin-left: 38px;
	margin-bottom: 30px;
}

/*reg.php*/
#signup
{
	height: 355px;  
}

#pass_checker
{
	margin-top: 5px;
	height: 60px;
	text-align: center;
}

#sc, #length, #conf
{
	font-size: 18px;
	font-family: "geosans";
	color: #D12E7D;
	visibility: hidden;
}

.figure
{
	height:20px;
}

#register
{
	margin-top: 5px;
	margin-left: 38px;
}

.home
{
	text-align: center;
}

.home a
{
	text-decoration: none;
	color: black;
	cursor: default;
	font-family: "geosans";
}

.home a:hover
{
	color:dodgerblue;
}

/*reset.php*/
#reset
{
	height: 280px;
}

#resetBut
{
	margin-left: 38px;
}

/*camagru.php*/
#top-pics
{
	margin: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 42.5%;
	margin-top: 10px;
}

#viddiv, #canv, #right
{
	display: inline-flex;
	flex-direction: column;
	margin-left: 3%;
	width: 29%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 3px 3px 4px rgba(0,0,0,5);
	background-color: rgba(7,7,7, 0.5);
}

#vid
{
	width: 100%;
	height: 100%;
	/*padding-top: 75%;*/
	z-index: -2;
}

#description
{
	text-align: center;
	height: auto;
	width: 100%;
	margin-top: 10%;
	font-family: "geosans";
	color:dodgerblue;
}

#allpics
{
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: auto;
}

.top-nav
{
	margin-right: 2%;
	text-align: center;
}

.top-nav a
{
	text-decoration: none;
	color: black;
	cursor: default;
	font-family: "geosans";
	color:dodgerblue;
}

.top-nav a:hover
{
	color: #D12E7D;
}

#belowbody1
{
	display: flex;
	text-align: center;
	width: 100%;
	/*height: 15px;*/
	margin-top: 10px;
	justify-content: center;
	align-items: center;
}

#snap
{
	font-size: 16px;
	margin: auto;
}

#upload
{
	font-size: 16px;
	border-radius: 8px;
	text-align: center;
	font-family: "geosans";
	outline:none;
	margin: auto;
	background-color	: rgba(7,7,7, 0.2);
}

.pics
{
	margin: auto;
	height: 24%;
	width: 24%;
	object-fit: contain;
}

#bot-pics
{
	margin: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 42.5%;
	margin-top: 10px;
	text-align: center;
}

.centre-flex
{
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.pagenation
{
	width: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 3px 3px 4px rgba(0,0,0,5);
	background-color: rgba(7,7,7, 0.5);
	margin-top: 20%;
}

#submitForm
{
	margin: 0;
	padding: 0;
	display: none;
}

.smallpic, .bigpic
{
	display: flex;
	flex-direction: column;
	width: 29%;
	height: 100%;
}

#smallpic1
{
	margin-left: 3%;
}

#next-pic
{
	margin-left: 2%;
}

#bigpic, #smallpic2
{
	margin-left: 3%;
}

.in-smallpic
{
	margin: 20%;
	margin-bottom: 30%;
	width: 60%;
	height: 50%;
	border-radius: 10px;
	box-shadow: 3px 3px 4px rgba(0,0,0,5);
	background-color: rgba(7,7,7, 0.5);
}

#bigpic
{
	border-radius: 10px;
	box-shadow: 3px 3px 4px rgba(0,0,0,5);
	background-color: rgba(7,7,7, 0.5);
}

/*.pics:hover
{
	border: solid 0.5px rgba(255,0,255, 0.3);
}

.pics:active
{
	border: solid 0.5px rgba(30,144,255, 0.3);
}*/

/*newpw.php*/
#newpw
{
	height: 300px;
}